.spaceship{
  position: relative;
  top: 750px;
  width: 10vw;
  left: 50px;

}
.shot {
  width: 40px;
  position: relative;
  top: 700px;
  left: 120px;
  animation: shot 0.5s infinite;
  display: none;
}
@keyframes shot {
  0%{ bottom: 20px;}
  100% {top: 20px;}
}
.spaceShipBlock {
  width: 100%;
}
.container {
  width: 100%;
}